<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content>
  <div class="name-fields">
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="employee.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="employee.lastName">
    </mat-form-field>
  </div>
  <div class="effective-date-fields">
    <mat-form-field>
      <input #startDateInput matInput placeholder="Start Date" type="date" value="{{getEmployeeStartDate()}}">
    </mat-form-field>
    <mat-form-field>
      <input #termDateInput matInput placeholder="Termination Date" type="date" value="{{getEmployeeTerminationDate()}}">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="action-buttons">
  <button mat-button (click)="onConfirm()">Save</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>